.git
.github
.editorconfig
.gitattributes
.gitignore
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.env
tests
README.md
CHANGELOG.md
phpunit.xml
docker-compose*.yml
*.log
